{{#if updateAnswerForm}}
  <h4>Update {{answer.author}}'s answer.</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input class="form-control" value=updateAuthor id="updateAuthor" placeholder=answer.author}}
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        {{textarea class="form-control" value=updateBody id="updateBody" placeholder=answer.body}}
      </div>
      <button class="btn btn-sm btn-info" {{action 'updateAnswer' answer}}>Save</button>
    </form>
  </div>
  {{else}}
  <button class="btn btn-sm btn-warning" {{action 'updateAnswerForm'}}>Update Answer</button>
{{/if}}
